Node-Red-files/mqtt + influxdb.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "mqtt + influxdb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24dddd4c54d23b71",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "power",
        "topic": "power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e389ad1e7366b28c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 240,
        "wires": [
            [
                "3b60a7a37dc46481",
                "b86a1ae24902efc0"
            ]
        ]
    },
    {
        "id": "3b60a7a37dc46481",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "0b9ed9206292539d",
                "b6c339e1d0521b9b",
                "7d7d1fb0f0415a6a"
            ]
        ]
    },
    {
        "id": "b86a1ae24902efc0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug_new_val",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "b6c339e1d0521b9b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Query_Max_Threshold",
        "func": "msg.query=`from(bucket: \"power\")\n  |> range(start: -1d)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"Threshold_table\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Max\")`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "4ba4efb48e0ed81a"
            ]
        ]
    },
    {
        "id": "0b9ed9206292539d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tags.location",
                "pt": "msg",
                "to": "Agadir",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fields.power",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "9b1c8de085058b38",
                "83fed5a03bdd3069"
            ]
        ]
    },
    {
        "id": "9b1c8de085058b38",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug_power_fin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\t    \"my msg\": \"SAVED TO 'power' TABLE ==> OK\"\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "c24fb90e7bfe5960",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "get_Max_Threshold_value",
        "rules": [
            {
                "t": "set",
                "p": "max_threshold_val",
                "pt": "msg",
                "to": "payload[0]._value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 80,
        "wires": [
            [
                "4a20480a926481ea",
                "7d7d1fb0f0415a6a"
            ]
        ]
    },
    {
        "id": "7d7d1fb0f0415a6a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function compare",
        "func": "if (msg.value >= msg.max_threshold_val){\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "9cf792d05de6f12c"
            ]
        ]
    },
    {
        "id": "9cf792d05de6f12c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fields.power_pass_threshold",
                "pt": "msg",
                "to": "value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fields",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "a157cac07e6929d3",
                "528070305a58212f"
            ]
        ]
    },
    {
        "id": "4a20480a926481ea",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug-get-Threshold-Max",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "max_threshold_val",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 80,
        "wires": []
    },
    {
        "id": "528070305a58212f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug_threshold_fin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\t    \"my msg\": \"SAVED TO 'Threshold_table' TABLE ==> OK\",\t    \"fin\": \" ==> OK\"\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 360,
        "wires": []
    },
    {
        "id": "7171da4711c439e0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug_all_msg_info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 600,
        "wires": []
    },
    {
        "id": "4ba4efb48e0ed81a",
        "type": "influxdb in",
        "z": "f6f2187d.f17ca8",
        "influxdb": "2c29904697c66a44",
        "name": "read",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "tec forge",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "c24fb90e7bfe5960"
            ]
        ]
    },
    {
        "id": "83fed5a03bdd3069",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "2c29904697c66a44",
        "name": "",
        "measurement": "power",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "tec forge",
        "bucket": "power",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "a157cac07e6929d3",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "2c29904697c66a44",
        "name": "",
        "measurement": "Alarms_table",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "tec forge",
        "bucket": "power",
        "x": 1140,
        "y": 300,
        "wires": []
    },
    {
        "id": "bdd853528ea10251",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug_all_msg_infos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 540,
        "wires": []
    },
    {
        "id": "e39a5836fa7447dc",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Get data using MQTT",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "cf593ac56963750e",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Get Threshold \"Max\" value",
        "info": "Get Threshold \"Max\" value from \"Threshold_table\" measurement",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "0a3181a73bbce364",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "write to \"power\" table",
        "info": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "122510dc14b4797b",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "write to \"Alarmes_table\" table",
        "info": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "e389ad1e7366b28c",
        "type": "mqtt-broker",
        "name": "mqtt_brocker",
        "broker": "emqx",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c29904697c66a44",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]